
.app-section {    
  
  padding-top: 6rem; 
  padding-bottom: 7rem;   
  .main {
    position: relative;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;

    .section {
      width: 100%;
      max-width: 470px;
      background: #fff;
      margin-right: 32px;

      .historias {
        position: relative;
        width: 100%;
        margin-top: 26px;       
        min-height: 119px;
        border-radius: 8px;
        border: 1px solid #dbdbdb;

        .contenido-historias {
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 16px 0 16px 16px;
          display: flex;
          overflow: hidden;

          .perfil-historia {
            margin-right: 10px;
            cursor: pointer;
            .contenedor-perfil {
              display: flex;
              flex-direction: column;
              align-items: center;  


              .foto-perfil{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 66px;
                height: 66px;
                border-radius: 50%;
                padding: 2px;                                
                
                &::after{
                  content: '';
                  position: absolute;
                  width: calc(100% - 5px);
                  height: calc(100% - 5px);
                  border-radius: 50%;
                  background: #fff;
                  z-index: 10;                 
                }

                img {
                  position: absolute;
                  width: 56px;
                  height: 56px;
                  border-radius: 50%;
                  object-fit: cover;
                  object-position: center;
                  background: #222;
                  z-index: 20;
                }
              }

              .normal {
                background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);                
              }

              .mejores {
                background: #47d76f;
              }

              .visto {
                background: #ececec;
              }

              .nombre {
                letter-spacing: .01em;
                padding-left: 2px;
                padding-right: 2px;
                font-weight: 400;
                font-size: 11.4px;
              }
            }
          }
        }
      }
    }    

    .section-sugerencias {
      min-width: 319px;
      max-width: 319px;
      margin-top: 26px; 
   
      .sugerencias-perfil {        
        display: flex;
        align-items: center;
        margin-top: 23px;
        margin-bottom: 10px;
        margin-right: 4px;
        .perfil-img {
          flex-grow: 0;
          margin-right: 12px;
          img {
            border-radius: 50%;
            width: 56px;
            height: 56px;
          }        
        }
        
        .perfil-nombres {
          flex-grow: 1;

          .nombre {
            color: #262626;
            font-size: 14px; 
            font-weight: 550;
            letter-spacing: -1px;
          }

          .subNombre {
            color: #8E8E8E;
            font-size: 14px;
          }
        }

        .perfil-cambiar {
          flex-grow: 0;

          button {
            border: none;
            outline: none;
            margin-left: 8px;
            font-size: 12px;
            color: #0095f6;
            background: transparent;
          }
        }
      }
    }

    .sugerencias-personas {

      .sugerencias {
        display: flex;
        padding: 6px 0;

        span {
          flex-grow: 1; 
          color: #8E8E8E;
          font-size: 14px;   
          font-weight: 500;      
          line-height: 18px;
        }

        div {
          flex-grow: 0;
          color: #262626;
          font-size: 12px;
        }
      }

      .contenedor-personas {
        display: flex;
        flex-direction: column;
        padding-top: 8px;
        padding-bottom: 12px;
        margin-bottom: 12px;
        .persona {
          display: flex;
          align-items: center;
          padding: 8px 0;

          .persona-img {
            flex-grow: 0;
            margin-right: 12px;

            img {
              border-radius: 50%;
              width: 32px;
              height: 32px;
            }
          }

          .persona-info {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .nombre {
              color: #262626;
              font-size: 14px;
              font-weight: 550;

            }

            .descripcion {
              
              color: #8E8E8E;
              font-size: 12px;
              letter-spacing: -.2px;

            }
          } 

          .persona-seguir {
            flex-grow: 0;

            button {
              border: none;
              outline: none;
              margin-left: 8px;
              font-size: 12px;
              color: #0095f6;
              background: transparent;
            }
          } 
        }
      }
    }

    .sugerencias-footer {
      color: #C7C7C7;
      font-size: 12px;
      .sugerencias-footer-info {
        
        ul {
          display: flex;
          flex-wrap: wrap;
          list-style-type: none;
          padding: 0;
          margin-bottom: 19px;

          li {
            margin-right: 9px;
            cursor: pointer;
          }
        }
      }

      .sugerencias-footer-licencia {

      }
    }
  }
}

